body {
	text-align: center;
	font-family: Verdana;
	color: #49011D;
	background-color: #E6AFC4;
}
#subheading {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
p {
	text-align: left;
}
.content {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
a {
	text-decoration: none;
	font-weight: bold;
}
a:link {
	color: #49011D;
}
a:visited {
	color: #79676E;
}
a:hover {
	text-decoration: underline;
}
