body {
	text-align: center;
	font-family: Verdana;
}
p {
	text-align: left;
}
.content {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
h2 {
	color: #7FFFD4;
}
h1 {
	color: #800000;
}
h3 {
	color: #800000;
}